#scs_widget_select_list,
#saona-custom-search-results {
  color: #4f353b;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px 0px 2px;
  border-color: #855962;
  margin: 0px;
  padding: 10px 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 19px;
  box-shadow: 2px 2px 5px #aaaaaa;
  WIDTH: 400px;
  z-index: 1001;
}

#scs_widget_select_list {
  margin-right: 10px;
}

#scs_widget_container {
  z-index: 1000;
  position: absolute;
  display: block;
  visibility: visible;
  left: 300px;
  top: 533px;

  display: flex;
  align-items: center;
  justify-content: center;
}
