#scs_widget_select_list,
#saona-custom-search-results {
  color: #4f353b;
  transition: none 0s ease 0s;
  text-align: inherit;
  /* line-height: 0px; */
  border-width: 0px 0px 2px;
  border-color: #855962;
  border-radius: 2.5px;
  margin: 0px;
  padding: 10px 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 19px;
  box-shadow: 2px 2px 5px #aaaaaa;
}

#saona-custom-search-results {
  margin-left: 10px;
}

#scs_widget_container {
  /* position: absolute; */
  /* margin: auto; */
  /* right: 50%; */
  /* bottom: 0; */
  /* left: 50%; */
  /* width: 350px; */
  /* height: 100px; */
  /* background-color: #ccc; */
  /* border-radius: 3px; */
  /* top: 550px; */
  /* margin-left: 200px; */
  /* background-color: #ccc; */
  /* border-radius: 3px; */

  position: absolute;
  display: block;
  visibility: visible;
  left: 224px;
  top: 533px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button.fwp-submit {
  z-index: 10;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-size: 16px !important;
  font-family: Playfair Display;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  /* border-width: 2px; */
  border-radius: 25px;
  letter-spacing: 2px !important;
  text-transform: uppercase;
  cursor: pointer;
  /* font-weight: 400; */
  /* line-height: 29px; */
  visibility: inherit;
  /* margin: 5px !important; */
  padding: 15px 25px !important;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform-origin: 50% 50% 0px;
  transform: translate3d(0px, 0px, 0px);
  background: no-repeat;
}

.loader {
  border: 6px solid #d6d6d6;
  /* Light grey */
  border-top: 6px solid #4f353b;
  /*  */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}